@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-size: 1rem;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container{
    min-width: 700px;
    max-width: 1500px;
    margin: 0 auto;
}

/*removes white lines below image and iframe*/
img{
    display:block;
}

iframe{
    display:block;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

nav ul{
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px 0 30px;
    font-family: 'Courgette', cursive;
}

nav ul li a{
    color: #49C3B4;
}

nav ul li a:hover{
    color: #1d4e48;
}

.sectionJumbo{
    position: relative;
}

.jumboText{
    background-color: #49C3B4;
    opacity: 0.75;
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
}

.sectionJumbo img{
    width: 100%;
}

.sectionPromotion{
    background-color: #49C3B4;
    text-align: center;
    color: white;
}

.sectionPromotion h2{
    font-family: 'Open Sans', sans-serif;
}

.sectionAbout{
    padding: 30px;
}

.sectionAbout p{
    margin: 0 0 10px 0;
}

.sectionDetails{
    background-color: #B7B12E;
    text-align:center;
    padding: 15px;
}

.details{
    color: white;
    width: 25%;
    margin: 0 3% 0 3%;
    display: inline-block;
}

.detailsImg{
    width: 100%;
}

.sectionCalendar{
    width: 80%;
    margin: 0 auto;
}

.sectionContact{
    padding: 15px 0 30px 0;
    width: 80%;
    margin: 0 auto;
}

footer{
    background-color: #49C3B4;
    text-align: center;
    color: white;
    padding: 15px;
}


h1, h2, h3, h4{
    font-family: 'Courgette', cursive;
}

h1{
    font-size: 3rem;
    margin: 0;
}

h2{
    font-size: 2rem;
    margin: 0;
    padding: 15px 0 15px 0;
}

h3{
    margin-left: 1em;
}

.allCaps{
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

table{
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.calendarTable th{
     background-color: #49C3B4;
     color: white;
     text-align: left;
     border: 1px solid #d3d3d3;
}

.calendarTable tr:nth-child(odd){
    background-color: #f2f2f2;
}

.calendarTable td{
    text-align: center;
    border: 1px solid #d3d3d3;
    padding: 5px;
}

.calendarTable td:first-child{
    text-align: left;
}

td{
    padding: 5px;
}

form{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

input[type=text]{
    width: 100%;
    border: none;
    border-bottom: 1px solid #49C3B4;
    outline: none;
    padding: 5px;
}

form ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 10px 0 10px;
}

input::placeholder{
    color: #49C3B4;
}

select{
    width: 100%;
    border: 1px solid #49C3B4;
    color: #49C3B4;
    background-color: white;
}

select:focus{
    color:black;
}

button{
    background-color: #49C3B4;
    padding: 10px;
    margin: 10px;
    border: none;
    color: white;
}
